@import "../../constans/variables.scss";

.selectCandidate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    width: 95%;
  }

  // .search {
  //   width: 100%;
  // }
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  > :last-child {
    // width: 100%;
    display: flex;
    justify-content: end;
  }
}

@media screen and (max-width: 768px) {
  .selectCandidate {
    justify-content: flex-start;
  }
}
