@import "../../constans/variables.scss";

.selectCandidate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    width: 95%;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
  }
  div {
    button {
      cursor: pointer;
    }
  }

  > :last-child {
    display: flex;
    justify-content: end;
  }
}

@media screen and (max-width: 768px) {
  .selectCandidate {
    justify-content: flex-start;
  }
}
