@import "../../constans/variables.scss";

.reportsPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 0;

  #btn-login {
    display: none;
  }
  #btn-rep {
    background-color: #3f6179;
  }

  .search {
    width: 100%;
  }
}
