@import "../../constans/variables.scss";

.loginPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  min-height: 100vh;

  h1 {
    letter-spacing: 3px;
  }

  #btn-login {
    background-color: #3f6179;
  }
  

  .loginModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    font-size: 25px;
    @include card-design;
    border-radius: 20px;
    min-height: 60vh;

    h1 {
      margin-bottom: 50px;
    }

    > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      > span {
        width: 130px;
      }

      input {
        border-radius: 8px;
      }
    }

    p {
      color: red;
      min-height: 5vh;
    }
    button {
      margin-top: 25px;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: $color2;
      letter-spacing: 1px;
      font-size: 18px;

      &:hover {
        background-color: #3f6179;
        color: $color2;
        border: 2px solid $color2;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .loginModal {
      width: 450px;
    }
  }

  @media screen and (max-width: 425px) {
    .loginModal {
      width: 350px;

      p {
        font-size: 16px;
      }

      > div {
        flex-direction: column;
        align-items: center;
      }

      button {
        margin-bottom: 10px;
      }
    }
  }
}
