.search{
    width: 100%;
    padding: 30px;

    .slika{
        width: 25px;
        height: 25px;
    }
    input{
        padding: 5px;
        margin-left: 5px;
        border-radius: 10px;
    }

    div{
        display: flex;

    }

}

