@import './constans/variables.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    // background-image: url(https://img.lovepik.com/photo/40142/7803.jpg_wh860.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;    
    color: $color2;
}